.roundIcon {
    display: flex;
    justify-content: center;
    margin-right: 10px;
}
.roundIcon:hover img{
    cursor: pointer;
}
.constIncreaseBtn{
    float: left;
    margin-left: -15px;
    margin-top: -5px;
    color: white;
    background-color: orange;
    border-radius: 40%;
    font-size: 13pt;
    font-weight: bolder;
    border: none
}
.constIncreaseBtn:hover{
    cursor: pointer;
}